<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <img src="../assets/icon/logo.png" class="logo-img" />
    </ion-buttons>

    <ion-searchbar 
      class="desktop-searchbar"
      [(ngModel)]="searchText" 
      [placeholder]="placeholderText" 
      (keydown.enter)="onSearch()"
    ></ion-searchbar>

    <ion-buttons slot="end">
      <div class="nav-buttons">
        <ion-button routerLink="/home" class="nav-btn">Inicio</ion-button>
        <ion-button class="nav-btn">Ofertas</ion-button>
        <ion-button routerLink="/categorias" class="nav-btn">Categorías</ion-button>
        <ion-button routerLink="/tiendas" class="nav-btn">Tiendas</ion-button>
        <ion-button routerLink="/login" class="login-btn">Iniciar sesión</ion-button>
        <ion-button routerLink="/register" class="register-btn">Registrarse</ion-button>
      </div>
      <ion-menu-button class="menu-button" menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Menú hamburguesa -->
<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-content class="menu-content">
    <div class="menu-header">
      <h2>Menú</h2>
    </div>

    <div class="menu-login">
      <span routerLink="/login" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">Iniciar sesión</span>
      <ion-icon name="chevron-forward-outline" routerLink="/login"></ion-icon>
    </div>

    <ion-item lines="full" class="divider"></ion-item>

    <ion-searchbar 
      class="mobile-searchbar"
      [(ngModel)]="searchText" 
      [placeholder]="placeholderText" 
      (keydown.enter)="onSearch()"
    ></ion-searchbar>

<ion-list class="menu-list">
  <ion-item routerLink="/home" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="grid-outline"></ion-icon>
    Inicio
  </ion-item>
  <ion-item routerLink="/register" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="people-outline" class="mirror-icon"></ion-icon>
    Registrarse
  </ion-item>
  <ion-item routerLink="/ofertas" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="pricetag-outline" class="mirror-icon"></ion-icon>
    Ofertas
  </ion-item>
  <ion-item routerLink="/categorias" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="list-outline"></ion-icon>
    Categorías
  </ion-item>
  <ion-item routerLink="/tiendas" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="storefront-outline"></ion-icon>
    Tiendas
  </ion-item>
</ion-list>



  </ion-content>
</ion-menu>

