<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <img src="../assets/icon/logo.png" class="logo-img" />
    </ion-buttons>

    <ion-searchbar 
      class="desktop-searchbar"
      [(ngModel)]="searchText" 
      [placeholder]="placeholderText" 
      (keydown.enter)="onSearch()"
    ></ion-searchbar>

    <ion-buttons slot="end">
      <div class="nav-buttons" *ngIf="!isLoggedIn">
        <ion-button routerLink="/home" class="nav-btn">Inicio</ion-button>
        <ion-button routerLink="/tiendas" class="nav-btn">Tiendas</ion-button>
        <ion-button routerLink="/login" class="login-btn">Iniciar sesión</ion-button>
        <ion-button routerLink="/register" class="register-btn">Registrarse</ion-button>
      </div>

      <div class="nav-buttons" *ngIf="isLoggedIn">
        <ion-button routerLink="/home" class="nav-btn">Inicio</ion-button>
        <ion-button routerLink="/tiendas" class="nav-btn">Tiendas</ion-button>
        <ion-button (click)="logout()" class="nav-btn">Cerrar sesión</ion-button>
        <ion-icon name="notifications-outline" size="large" class="icon-btn"></ion-icon>
        <span class="username">{{ nombreUsuario }}</span>
        <ion-icon name="settings-outline" size="large" class="icon-btn"></ion-icon>
      </div>

      <ion-menu-button class="menu-button" menu="first"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!-- Menú hamburguesa -->
<ion-menu side="start" menuId="first" contentId="main-content" swipeGesture="false">
  <ion-content class="menu-content">
    <div class="menu-header">
      <h2>Menú</h2>
    </div>

    <div class="menu-login" *ngIf="!isLoggedIn">
      <span routerLink="/login" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
        Iniciar sesión
      </span>
      <ion-icon name="chevron-forward-outline" routerLink="/login"></ion-icon>
    </div>

    <div class="menu-login" *ngIf="isLoggedIn">
      <span class="menu-username">
        {{ nombreUsuario }}
      </span>
      <ion-icon name="notifications-outline" size="large" class="icon-btn"></ion-icon>
    </div>

    <ion-item lines="full" class="divider"></ion-item>

    <ion-searchbar 
      class="mobile-searchbar"
      [(ngModel)]="searchText" 
      [placeholder]="placeholderText" 
      (keydown.enter)="onSearch()"
    ></ion-searchbar>

<ion-list class="menu-list">
  <ion-item routerLink="/home" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="grid-outline"></ion-icon>
    Inicio
  </ion-item>

  <ion-item *ngIf="!isLoggedIn" routerLink="/register" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="people-outline" class="mirror-icon"></ion-icon>
    Registrarse
  </ion-item>


  <ion-item *ngIf="isLoggedIn" routerLink="/cuenta" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="people-outline" class="mirror-icon"></ion-icon>
    Cuenta
  </ion-item>

  <ion-item routerLink="/tiendas" routerLinkActive="active-menu-item" [routerLinkActiveOptions]="{ exact: true }">
    <ion-icon slot="start" name="storefront-outline"></ion-icon>
    Tiendas
  </ion-item>

  <ion-item *ngIf="isLoggedIn" button (click)="logout()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Cerrar sesión
  </ion-item>
</ion-list>



  </ion-content>
</ion-menu>

