<ion-header>
  <ion-toolbar>
    <ion-title>Tiendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="tiendas-contador ion-margin-bottom">
    <p class="ion-text-center">{{ tiendas.length }} Tiendas disponibles</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let tienda of getTiendasPaginadas()">
        <ion-card class="tienda-card">
          <ion-card-header class="ion-no-padding">
            <ion-card-title class="tienda-nombre ion-padding-start">
              {{ tienda.nombre }}
            </ion-card-title>
            <ion-card-subtitle class="tienda-resenas ion-padding-start">
              {{ tienda.cantidadResenas }} Reseñas
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <div class="ion-text-start stars ion-margin-bottom">
              <ng-container *ngIf="tienda.valoracion > 0; else sinEstrellas">
                <ion-icon *ngFor="let star of getStarsArray(tienda.valoracion)" name="star"></ion-icon>
              </ng-container>
              <ng-template #sinEstrellas>
                <ion-icon *ngFor="let s of [].constructor(5)" name="star-outline" class="estrella"></ion-icon>
              </ng-template>
            </div>

            <div class="ion-text-center emoji-tienda ion-margin-bottom">🏪</div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="paginacion ion-text-center ion-margin-top">
    <ion-button fill="outline" size="small" (click)="prevPage()" [disabled]="currentPage === 1">&lt; Prev</ion-button>

    <ion-button *ngFor="let page of totalPagesArray"
                fill="solid"
                size="small"
                [color]="page === currentPage ? 'primary' : 'light'"
                (click)="goToPage(page)">
      {{ page < 10 ? '0' + page : page }}
    </ion-button>

    <ion-button fill="outline" size="small" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Next &gt;
    </ion-button>
  </div>

</ion-content>
